header{
  margin-bottom: 20px;
  margin-top: 20px;
}
.nav li{
  vertical-align: middle;
}

#template-head{
  margin-bottom: 10px;
}
#template-head div{
  margin-bottom: 10px;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0;
    padding: 10px 12px;
    pointer-events: none;
}

@media screen and (min-width: 768px){
  #vertical-nav{
    display: none;
  }
}